table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}


/* Поля ввода в админке */
.admin-container input,
.admin-container textarea,
.admin-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.admin-container input:focus,
.admin-container textarea:focus,
.admin-container select:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
    outline: none;
}

.admin-container textarea {
    resize: vertical;
    min-height: 100px;
}

.admin-container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}


.admin-container button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-container button:hover {
    background-color: #444;
    transform: scale(1.05);
}

.admin-container form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


